<section class="gallery-grid_holder">
    <h2 class="gallery-grid_heading">Gallery Albums</h2>
    <ul class="gallery-grid">
        <li class="gallery" data-id="gallery1">
            <span class="create-album" id="create-album">Create Album</span>
        </li>
        {{#albums}}
            <li class="gallery" data-id="gallery1">
            <img src={{backGroundPicture}}>
            </li>
        {{/albums}}
    </ul>
</section>
<section class="create-album_overlay" id="create-album_overlay">
    <div class="create-album_form">
        <h2 class="gallery-grid_heading">Create Album</h2>
        <label>
            Album name: <br>
            <input type="text" class="album-name" id="album-name">
            <button id="create-album-btn" class="create-album-btn">Create album</button>
        </label>
                <span class="close-button" id="close-overlay">
                    <img src="img/close_button.png" width="35">
                </span>
    </div>

</section>