<section class="login-section">
    <div class="forms-holder">
        <article class="login-form">
            <form class="register" id="register-form">
                <label for="register-username"> Username: </label>
                <input type="text" id="register-username"><br>
                <label for="register-password">Password: </label>
                <input type="text" id="register-password"><br>
                <button>Register</button>
            </form>
        </article>
        <article class="login-form">
            <form class="register" id="login-form">
                <label for="login-username"> Username: </label>
                <input type="text" id="login-username"><br>
                <label for="login-password">Password: </label>
                <input type="text" id="login-password"><br>
                <button>Login</button>
            </form>
        </article>
    </div>
</section>