<div class="gallery-overlay" id="gallery-overlay">
    <div class="single-image_holder">
        <span class="close-overlay" id="close-overlay">
            <img src="img/close_button.png">
        </span>
        <img src="{{base64data}}" class="image-preview">
        <div class="comment-section">
            {{comment}}
        </div>
        <div class="rating-section">
            <div class="picture-like-button">
                <img src="img/like.png">
            </div>
        </div>
    </div>
</div>